@keyframes blink {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.text {
  span {
    font-size: 25px;
    font-weight: 700;
    color: #fff;
  }
  /*文字打完后 等待的时间是没有光标的 用动画做一个假的光标*/
  /* span:after {
    content: "|";
    animation: blink 1s infinite;
    animation-timing-function: step-end;
  } */
}

.aside-card {
  width: 26%;
  padding: 0px 5px;
  max-width: 318px;
  min-width: 300px;

  .el-card:nth-child(n) {
    border-radius: 15px;
    margin-bottom: 30px;
  }

  .el-card:last-child {
    margin-bottom: 0px;
  }
}

.custom-input {
  border-radius: 15px !important;
}

.card-title {
  text-align: start;
  font-size: 20px;
  color: #39b7f6;
}
.post-content {
  height: fit-content;
  margin-right: 40px;
  width: 74%;
  .el-card {
    border-radius: 15px;
  }
}

.layout {
  max-width: 1400px;
  padding: 40px 15px;
  margin: 0 auto;
  display: flex;
}

.card-layout {
  background-image: url("../../assets/images/images.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.is-center,
.input svg {
  text-align: center;
}

.nav-item {
  a {
    display: flex;
    align-items: flex-end;
  }
  span {
    margin-left: 5px;
  }
}

.site-data {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.site-data > a {
  display: table-cell;
}

.social-icons a:nth-child(n) {
  margin-right: 10px;
  flex-grow: 1;
}

.social-icons a:last-child {
  margin-right: 0px;
}

.social-icons {
  display: flex;
  margin-top: 5px;
}

.input {
  position: relative;
  display: flex;
  align-items: center;
  .search__box {
    width: 100%;
    box-sizing: border-box;
    border-radius: 15px;
    border: 2px solid #39b7f6;
    padding: 8px 11px;
    outline: none;
  }
  svg {
    position: absolute;
    width: 25px;
    right: 10px;
  }
}

.post-content {
  display: flex;
  justify-content: center;
}
