.log-descriptions {
  width: 60%;
  position: absolute;
  right: -50%;
  top: 0px;
  border-radius: 4px;
  border: 1px solid #e4e7ed;
  background-color: #fff;
  height: 100%;
  z-index: 2;
  overflow-y: auto;
  padding: 15px;
  .el-descriptions__cell {
    word-break: break-all;
    word-wrap: break-word;
  }
}

@media screen and (min-width: 1600px) {
  .log-descriptions {
    width: 50%;
  }
}

@media screen and (max-width: 991px) {
  .log-descriptions {
    width: 100%;
  }
}

.animation-fade-in {
  animation-name: fadeFromRight;
}

.animation {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animation-fade-out {
  animation-name: fadeOutFromRight;
}

@keyframes fadeFromRight {
  0% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes fadeOutFromRight {
  0% {
    opacity: 1;
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }
}
